:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --neutral-grey-500: hsl(234, 12%, 34%);
    --neutral-grey-400: hsl(212, 6%, 44%);
    --neutral-white: hsl(0, 0%, 100%);
    --font-weight-200: 200;
    --font-weight-400: 400;
    --font-weight-600: 600;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--neutral-white);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    gap: 2em;

}

.content__intro {
    text-align: center;
    max-width: 400px;

}

.content__title {
    font-size: 1.3rem;
    font-weight: var(--font-weight-200);
    margin: 0;
    color: var(--neutral-grey-400);
}

.content__powered-by {
    font-weight: var(--font-weight-600);
    font-size: 1.3rem;
    color: var(--neutral-grey-500);
    margin: 0;
}

.content__description {
    font-weight: var(--font-weight-400);
    font-size: 0.8rem;
    color: var(--neutral-grey-500);
}

.content__description--margin-bottom {
    margin-bottom: 5em;
}

.content__lists {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "supervisor-card"
        "team-builder-card"
        "karma-card"
        "calculator-card";
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2em;
}

.content__card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border-radius: 5px;
    padding: 25px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.content__card--border-top-cyan {
    border-top: 5px solid var(--primary-cyan);
}

.content__card--border-top-red {
    border-top: 5px solid var(--primary-red);
}

.content__card--border-top-orange {
    border-top: 5px solid var(--primary-orange);
}

.content__card--border-top-blue {
    border-top: 5px solid var(--primary-blue);
}

.content__card-title {
    margin: 0;
    font-size: 1.1rem;
    color: var(--neutral-grey-500);
}

.content__card-description {
    margin-top: 0;
    margin-bottom: 3em;
    font-size: 0.75rem;
    color: var(--neutral-grey-400);
}

.content__card-image {
    width: 64px;
    height: 64px;
    align-self: flex-end;
}

#supervisor-card {
    grid-area: supervisor-card;
}

#team-builder-card {
    grid-area: team-builder-card;
}

#karma-card {
    grid-area: karma-card;
}

#calculator-card {
    grid-area: calculator-card;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: var(--primary-blue); 
}

@media screen and (min-width: 1000px){
    .content__lists {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            ". . team-builder-card team-builder-card . ."
            "supervisor-card supervisor-card team-builder-card team-builder-card calculator-card calculator-card"
            "supervisor-card supervisor-card karma-card karma-card calculator-card calculator-card"
            ". . karma-card karma-card . ."
        ;
    }
}